<html>
  <head></head>
  <body>
    <h1>Welcome to my Music Databsase</h1>

      <div>
        <a href='/artists'><%="See All Artists" %><br />
        <a href='/albums'><%="See All Albums" %><br />
      </div>
      
  </body>
</html>