
<html>
  <head></head>
  <body>
    <h1> <%= @album_title%></h1>
    <p>
      release year: <%= @album_release_year%>
    </p>
    <p>
      artist_id: <%=@album_artist_id%>
    </p>
  </body>
</html>
