<form action="/artists/added" method="POST">
  <label> Artist Name: </label>
  <input type="text" name="name"/><br/>
  <label> Genre: </label>
  <input type="text" name="genre"/><br/>
  <input type="submit"/>
</form>